.wrapperCertificates {
  padding: 9rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrapperCertificado {
    margin-bottom: 1rem;
    max-width: 70rem;
    .certificado {
      width: 100%;
    }
  }
}
