@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&family=Nunito:wght@600;800&display=swap');
$font_code: 'IBM Plex Mono', monospace;
$font_titles: 'Nunito', sans-serif;
$color1: #02475E;
$color2: #99A8B2;
$black: #272727;
$white: #F5F4F4;
$pink: #a8154d;
html{
    font-family: $font_code;
    font-weight: 300;
    color: $black;
}